@import './reset';
@import './variables';

body {
  font: var(--font-m);
  font-family: var(--font-family-main);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.app {
  max-width: 1440px;
  margin: 0 auto;

  padding-bottom: 20px;
}

img {
  height: 100%;
  object-fit: fill;
  width: 100%;
}
